<div class="container col-6 text-center">
  <div class="title-frame">
    <h1> Evaluation </h1>
    <h3> Provided by <%= evaluation.user.first_name %> </h3>
  </div>
  <div class="frame">
    <p>"<%= evaluation.comment %>"</p>
  </div>
  <% if evaluation.video.attached? %>
    <div class="frame">
      <p> <%= cl_video_tag evaluation.video.key, controls: true, width: "480px", height: "360px" if evaluation.video.attached?%> </p>
    </div>
  <% end %>
  <% if evaluation.photo.attached? %>
    <div class="frame">
      <p> <%= cl_image_tag evaluation.photo.key, width: "300px", height: "400px" if evaluation.photo.attached?%> </p>
    </div>
  <% end %>
  <% if evaluation.document.attached? %>
    <div class="frame">
      <%= link_to cl_image_path(evaluation.document.key) do %>
        <p> <%= cl_image_tag evaluation.document.key, format: "jpg", width: "210px", height: "297px"%> </p>
      <% end %>
    </div>
  <% end %>
</div>
<p>
  <%= link_to "Back", service_booking_path(booking.service, booking) %>
</p>
<p>
  <%= link_to "Back to your dashboard", dashboard_path %>
</p>
