<div class="container">
  <h2>All services listed</h2>

   <%= link_to "Create a service", new_service_path, class: "cta-button" %>

  <div class="search-bar">
    <%= simple_form_for :search, method: "GET", html: { class: 'mt-3' } do |f| %>
      <%= f.input :search_info, placeholder: 'Search by keyword or category', label:false, input_html: {value: ""} %>
      <%= f.input :address, placeholder: 'Search by city, country, address', label:false, input_html: {value: ""} %>
    <div class="center-button">
      <%= f.submit "Search", class: "cta-button", id:"search" %>
    </div>
    <% end %>
  </div>
  <% if @services.empty? %>
    <h3> <%= @message %> </h3>
  <% else %>
    <%= render "shared/index_page_card" %>
  <% end %>
</div>
