
<div class="container">

  <%= link_to "Create a service", new_service_path, class: "grey-button" %>
  <div class="search-bar-box">
    <%= simple_form_for :service, method: "GET", html: { class: 'search-bar mt-3', data: { geocoder_target: "address" } } do |f| %>
      <%= f.submit "Search", class: "grey-button", id:"service" %>
      <%= f.input :address, placeholder: 'Search by address, city or country', label:false, input_html: {value: ""} %>
    <% end %>
  </div>
  <div class="d-flex">
    <% if @services.empty? %>
      <h3> <%= @message %> </h3>
    <% else %>
      <%= render "shared/index_page_card" %>
    <% end %>
    <div class="map mt-3" style="width: 100%; height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
