<div class="container">
  <div class="search-bar-box">
    <%= simple_form_for :service, method: "GET", html: { class: 'search-bar mt-3'} do |f| %>
      <%= f.submit "find wheelpers", class: "icon-button", id:"service" %>
      <%= f.input :address, placeholder: 'Search by address, city or country', label:false, input_html: {value: ""} %>
      <button type="submit", class="icon-button", id="service">
        <i class="fas fa-thumbs-up"></i> get wheelp
      </button>
    <% end %>
  </div>
  <div class="container">
    <div class="frame title-count">
      <h3> Wheelpers </h3>
      <% if @services.empty? %>
        <h3> <%= @message %> </h3>
      <% else %>
        <h3> <%= @services.count %> </h3>

      <% end %>

    </div>
    <% @services.each do |service| %>
      <%= render "shared/index_page_card", service: service %>
    <% end %>
    <div class="frame mapbox-map" style="width: 100%; height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
