<div class="container">
  <div class="search-bar-box">
    <p>you could use some wheelp</p>
    <%= simple_form_for :service, method: "GET", html: { class: 'search-bar'} do |f| %>
      <%= f.submit "find wheelpers", class: "icon-button", id:"service" %>
      <%= f.input :address, placeholder: 'Search by address, city or country', label:false, input_html: {value: ""} %>
      <button type="submit", class="icon-button", id="service">
        <i class="fas fa-thumbs-up"></i> get wheelp
      </button>
    <% end %>
  </div>
  <div class="container">
    <div class="alert-frame">
      <% if @services.empty? %>
        <p> <%= @message %> </p>
      <% else %>
        <p>  wheelpers found in the area. </p>
      <% end %>
    </div>
    <div class="services-map-container">
      <div class="services-list">
        <% @services.each do |service| %>
          <%= render "shared/index_page_card", service: service %>
        <% end %>
      </div>
      <div class="frame mapbox-map" style="width: 100%; height: 100vh;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
