<div class="container col-6 mt-10 form" data-controller="flatpickr-service-form">
  <h3>Create a new service</h3>
  <%= simple_form_for [ @service ] do |f| %>
    <%= f.input :title %>
    <%= f.input :address %>
    <%= f.input :bio, as: :text %>
    <%= f.input :price, as: :numeric %>
    <%= f.input :photo, as: :file %>
    <%= f.input_field :availability, as: :date, html5: true, value: '', data: { flatpickr_service_form_target: "input" } %>
    <%= f.submit "Create service", class: "submit-button" %>
  <% end %>
</div>
<div class="mapbox-map mt-3" style="width: 100%; height: 30vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
