<div class="h1-position">
  <h1>Create a New Service</h1>
</div>
<div class="container col-6 justify-content-center">
<div id="service-form" data-controller="flatpickr-service-form">
  <%= simple_form_for [ @service ] do |f| %>
    <%= f.input :title %>
    <%= f.input :address,
                input_html: { data: { geocoder_target: "address" }, class: "d-none" },
                wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } }%>
    <%= f.input :bio, as: :text %>
    <%= f.input :price, as: :numeric %>
    <%= f.input :photo, as: :file %>
    <%= f.input :category, collection: Service::CATEGORIES %>
    <div class="availability">
      <%= f.label :availability %>
      <%= f.input_field :availability, as: :date, html5: true, value: "", data: { flatpickr_service_form_target: "input" } %>
    </div>
    <div class="button-position">
      <%= f.submit "Create service", class: "bookings-button" %>
    </div>
  <% end %>
  </div>
</div>
