<div class="container">
  <h2> Service show page</h2>
  <% if @service.photo.attached? %>
    <%= cl_image_tag @service.photo.key %>
  <% else %>
    <img src="https://cdn.dribbble.com/users/2145559/screenshots/10415392/media/0fa2ed74268fd3352333d359484252e5.jpg?compress=1&resize=400x300&vertical=top" alt="<% @service.title %>" width="400" height="400" />
  <% end %>
  <div class="show-info">
    <div class="show-card-text">
      <h2><%= @service.title%></h2>
      <div class="show-card-booking">
        <h3>from £ <%= @service.price %></h3>
      </div>
      <p><%= @service.bio %></p>
      <div class="reviews">
        <p> reviews</p>
      </div>
    </div>
    <%= link_to "Back", services_path, class: "link" %>
  </div>
</div>


</div>
