<div class="show-container">

  <div class= "show-service-card d-flex justify-content-center">
    <div class="show-service-left">
      <div class="show-service-img">
        <% if @service.photo.attached? %>
          <%= cl_image_tag @service.photo.key, width: 400, height: 400 %>
        <% else %>
          <img src="https://cdn.dribbble.com/users/2145559/screenshots/10415392/media/0fa2ed74268fd3352333d359484252e5.jpg?compress=1&resize=400x300&vertical=top" alt="<% @service.title %>" width="400" height="400" />
        <% end %>
        <%# <div class="showmap" style="width: 100%;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>
        <%# data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>
      <%# </div> %>
      </div>
      <div class="show-service-left-bottom">
        <%= link_to "Back", services_path, class: "link" %>
      </div>
    </div>
    <div class="show-card-text-container d-flex justify-content-between">
      <div class="show-card-text-top">
        <div class="show-service-card-header d-flex justify-content-between align-items-center">
          <div class="show-service-card-name">
            <h2> <%= @service.user.first_name %> <%= @service.user.last_name %> </h2>
            <div class="show-service-subtitle d-flex justify-content-between">
              <h6>£ <%= @service.price %>/per viewing</h6>
              <p> 📍<%= @service.address %> </p>
              <p> 4.6 <i class="fa-solid fa-star-sharp"></i> - <%= rand(3..400) %> reviews</p>
            </div>
          </div>
          <%= render "shared/availability", service: @service %>
        </div>
          <div class="show-service-name-price">
          </div>
        <div class="show-card-text-bio">
          <h4> <%= @service.title.capitalize %></h4>
          <p><%= @service.bio %></p>
        </div>
      </div>
      <div class="show-card-book">
        <%= link_to "Book", new_service_booking_path(@service), class: "cta-button", id:"service-show-btn" %>
      </div>
    </div>
  </div>

</div>
