<div class="search-bar-box">
  <%= simple_form_for :search, method: "GET", html: { class: 'search-bar' } do |f| %>
   <%= button_tag type:"submit", class: "icon-button search", id:"service" do %>
        🔎
      <% end %>
  <%# <%= f.submit "Search", class: "grey-button", id:"search" %>
  <%= f.input :search_info, placeholder: 'Search by keyword or category', class:"search-input", label:false, input_html: {value: ""} %>
  <% end %>
</div>

<div class="container">
  <% if @services.empty? %>
    <h3> <%= @message %> </h3>
  <% else %>
    <div class="title-frame">
      <h2> Browse all our Wheelpers </h2>
    </div>
    <div class="cards-grid">
      <% @services.each do |service| %>
        <%= link_to service_path(service) do %>
          <div class="frame vertical-card">
            <div class="category-tag">
              <p> <%= service.category %></p>
            </div>
            <div class="show-service-img">
              <% if service.user.photo.attached? %>
                <%= cl_image_tag service.user.photo.key %>
              <% else %>
                <img src="https://cdn.dribbble.com/users/2145559/screenshots/10415392/media/0fa2ed74268fd3352333d359484252e5.jpg?compress=1&resize=400x300&vertical=top" alt="<% service.title %>" width="300" height="300" />
              <% end %>
            </div>
            <div class="show-service-card-name">
              <h2> <%= service.user.first_name %> <%= service.user.last_name %> </h2>
            </div>
            <div class="show-card-text-bio">
              <p><%= service.bio %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
