<h1 class="text-center"> Details of the evaluation request </h1>
<div class="d-flex container col-6">
  <div class="p-3">
    <p> Customer: <%= @booking.user.first_name %> </p>
    <p> Vehicle: <%= @booking.vehicle_brand %> </p>
    <p> Vehicle location: <%= @booking.vehicle_address %> </p>
    <p> Owner contact details: <%=@booking.vehicle_contact%> </p>
    <p> Status: <%= render "states_converted", booking: @booking %> </p>
    <% if @booking.state == 0 %>
      <%= link_to "Accept", booking_path(@booking, state: 1), remote: true, method: :patch %>
      <%= link_to "Decline", booking_path(@booking, state: -1), remote: true, method: :patch %>
    <% elsif @booking.state == 1 %>
      <%= link_to "Message #{@booking.user.first_name}", chatroom_path(@chatroom) if !@chatroom.nil? %>
      <% if !@booking.evaluation %>
        <%= link_to "Add evaluation", new_booking_evaluation_path(@booking) %>
      <% else @booking.evaluation %>
        <%= link_to "See evaluation", booking_evaluation_path(@booking, @booking.evaluation) %>
      <% end %>
    <% end %>
  </div>
  <div class="showmap" style="width: 80%; height: 400px;"
        data-controller="mbox"
        data-mbox-marker-value="<%= @marker.to_json %>"
        data-mbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<%= link_to "Back to your dashboard", dashboard_path %>
