<h1 class="text-center"> Details of your evaluation request </h1>
<div class="d-flex container col-6">
  <div class="p-3">
    <p> Wheelper: <%= @booking.service.user.first_name %> </p>
    <p> Vehicle: <%= @booking.vehicle_brand %> </p>
    <p> Vehicle location: <%= @booking.vehicle_address %> </p>
    <p> Status: <%= render "states_converted", booking: @booking %> </p>
    <% if @booking.state == 1 && @booking.evaluation.nil? %>
      <p> Evaluation is in progress... </p>
    <% elsif @booking.state == 1 && !@booking.evaluation.nil? %>
      <%= link_to "See evaluation", booking_evaluation_path(@booking, @booking.evaluation) %>
    <% end %>
  </div>
  <div class="showmap" style="width: 80%; height: 400px;"
        data-controller="mbox"
        data-mbox-marker-value="<%= @marker.to_json %>"
        data-mbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div class="container col-3">
  <h3> Add your review </h3>
    <%= simple_form_for [@service, @booking, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, as: :integer %>
      <%= f.submit %>
    <% end %>
</div>

<%= link_to "Show this expert's page", service_path(@service) %>
<%= link_to "Back to your dashboard", dashboard_path %>
