
<h1> Your booking </h1>
<div class="container col-6">
  <%= simple_form_for [@service, @booking] do |f| %>
    <%= f.input :vehicle_brand %>
    <%= f.input :vehicle_model %>
    <%= f.input :vehicle_address %>
    <%= f.input :vehicle_year %>
    <%= f.input :vehicle_contact %>
    <%= f.input :additional_details, as: :text %>
    <%= f.input :date, as: :date, html5: true  %>
    <%= f.submit %>
  <% end %>
</div>
