<div>
  <%= @booking.service.title %>
  <%= @booking.vehicle_address %>
  <div class="showmap" style="width: 100%; height: 400px;"
        data-controller="one_marker_mapbox"
        data-one-marker-mapbox-marker-value="<%= @marker.to_json %>"
        data-one-marker-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div class="container col-3">
  <h3> Add your review </h3>
    <%= simple_form_for [@service, @booking, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, as: :integer %>
      <%= f.submit %>
    <% end %>
</div>

<%= link_to "Show this expert's page", service_path(@service) %>
<%= link_to "Back to your dashboard", dashboard_path %>
