<%= @booking.service %>
<%= @booking.vehicle_address %>
<h3> Add your review </h3>
<%= simple_form_for [@service, @booking, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, as: :integer %>
  <%= f.submit %>
<% end %>
<%= link_to "Show this expert's page", service_path(@service) %>
<%= link_to "Back to your dashboard", dashboard_path %>
