<div class="container">
<% @services.each do |service| %>
  <div class="service-card d-flex align-items-start my-3">
    <div class="left-side">
      <div class="avatar-image">
        <% if service.photo.attached? %>
          <%= cl_image_tag service.photo.key, height: 150, width: 150, crop: :fill %>
        <% else %>
          <img src="https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg" width="150" height="150" />
        <% end %>
      </div>
      <div class="reviews-info">
        <% total = 0 %>
        <% service.bookings.each do |book| %>
          <% total += book.review ? book.review.rating : 0 %>
        <% end %>
        <% if service.bookings.count > 0 %>
          <%= total/service.bookings.count %>
        <% else %>
          <%= 0 %>
        <% end %>
      </div>
    </div>
    <div class="right-side ps-3">
      <div class="top-right d-flex justify-content-between">
        <h5> <%=service.user.first_name  %> </h5>
        <p>from £<%= service.price %></p>
      </div>
      <div class="right-middle">
        <p><%= service.title %></p>
      </div>
      <div class="bottom-right d-flex justify-content-between">
        <div class="availability-window">
        <p>Availability</p>
        </div>
        <%= link_to "Book Now", "#",class:"btn btn-danger" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!--
<div class="services">
    <% @services.each do |service| %>
      <% if current_user.id != service.user_id %>
        <%= link_to service_path(service) do %>
          <figure class="image-card">
            <% if service.photo.attached? %>
              <%= cl_image_tag service.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img src="https://media.wired.com/photos/5c54ee6a4feec32ca0f590d8/125:94/w_1761,h_1324,c_limit/superman-922909434.jpg" width="400" height="400" />
            <% end %>
            <figcaption>
              <h3> <%=service.title.capitalize  %> </h3>
              <div class="info d-flex justify-content-between">
                <p>from £<%= service.price %></p>
              </div>
            </figcaption>
          </figure>
        <% end %>
      <% end %>
    <% end %>
  </div>
-->
