
<div class="frame">
  <div class="navbar-wheelp navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to "wheelp", root_path, class: "big logo-button blended"%>
      <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <% if current_user.expert == false %>
                <li class="nav-item"> <%= link_to "DASHBOARD", dashboard_path, class: "tab" %> </li>
                <li class="nav-item"> <%= link_to "WHEELPERS", wheelpers_path, class: "tab" %> </li>
              <% else %>
                <li class="nav-item"> <%= link_to "DASHBOARD", dashboard_path, class: "tab" %> </li>
              <% end %>
              <li class="nav-item dropdown">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                  <%= image_tag "https://png.pngitem.com/pimgs/s/22-223925_female-avatar-female-avatar-no-face-hd-png.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
                <li class="nav-item align-self-center">
                  Welcome, <%= current_user.first_name %>
                </li>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "About us", "#", class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "tab" %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
