<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "test5-logo.png" %>
      <% end %>
    </div>
    <div class="navbar-links" id="">
      <ul class="">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Browse our experts", services_path, class: "nav-link" %>
            <%= link_to "About us", "#", class: "nav-link" %>
            <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
             <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            <%# </div> %>
          </li>
    </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Browse our experts", services_path, class: "nav-link" %>
            <%= link_to "About us", "#", class: "nav-link" %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%# <link href='https://fonts.googleapis.com/css?family=Lato|Roboto:400,900' rel='stylesheet' type='text/css'>
<div class="container">
  <a href="http://marcel-pirnay.be/" class="btn">
  <svg width="277" height="62">
    <defs>
        <linearGradient id="grad1">
            <stop offset="0%" stop-color="#FF8282"/>
            <stop offset="100%" stop-color="#E178ED" />
        </linearGradient>
    </defs>
     <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
  </svg>
  <!--<span>Voir mes réalisations</span>-->
    <span>Welcome in my world</span>
</a>
</div> %>
