<% if user_signed_in?%>
 <%= render "shared/banner" %>
<% else %>
  <%= render "shared/new_banner" %>
  <%= render "shared/homepage_cards" %>
  <%= render "shared/sign_up_banner" %>
<% end %>

<!-- <div class="search-bar">
  <%= simple_form_for :service, method: "GET", url: services_path, html: { class: 'mt-3' } do |f| %>
    <%= f.input :address, placeholder: 'Search by city, country, address', label:false, input_html: {value: ""} %>
    <%= f.submit "Search", class: "logo-button", id:"service" %>
  <% end %>
</div>
 <i class="fab fa-solid fa-magnifying-glass"></i>
<%= render "shared/new_banner" %>
<%= render "shared/homepage_cards" %> -->
